@media(max-width:1000px){
    .lesson{
        width:50%;
        margin-bottom: 50px;
    }
    .menu-icon{
        display: none;
    }
    

}

@media(max-width:670px){
    .lesson{
        width: 100%;
    }
    footer{
        text-align: center;
    }
    .facebook{
        margin-bottom: 10px;
    }
    .btn{
        width: 100%;
        text-align: center;
    }
    .menu-icon{
        display: block;
        padding-top: 25px;
        padding-left: 70px;
        width: 30px;
    }
    .header-right{
        display: none;
    }
}

